*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.Page{
    height: 100vh;
    width: 100%;
    background-image: url(../image/photo_2023-01-06_15-15-16.jpg);
    background-repeat: no-repeat;
    background-position: right top;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

nav > ul > li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav > ul > li > a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav > ul > li > a:hover{
    color: #dd2f66;
    transition: .4s;
}

.Content{
    position: absolute;
    top: 50%;
    left: 8%;
}

h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}

p{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}

.About{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}

.about-text{
    width: 550px;
}

.Main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Main > img:hover{
    opacity: 0.6;
}

.about-text > h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text > p{
    letter-spacing: 1px;
    font-size: 18px;
    margin-bottom: 45px;
    text-transform: capitalize;
    line-height: 28px;
}

button{
    background-color: #dd2f66;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;

}

button:hover{
    background-color: transparent;
    border: 2px solid #dd2f66;
}

.Sillks{
    background-color: #191919;
    width: 100%;
    padding: 100px 0px;
}

.title > h2 {
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    min-width: 500px;
}
.container{
    height: 250px;
    width: 500px;
    padding: 20px 35px;
    background: #dd2f66;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.container > img{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    margin: 25px 35px;
}

.container > span {
    display: flex;
    justify-content: center;
    color: white;
    line-height: 27px;
    font-size: 20px;
    margin-bottom: 100px;
}

.container > span:hover{
    opacity: 0.6;
}